<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>ASM_834_1190</title>
</head>
<body>

<div class="container-fluid">
<h4> ASM_834_1190 device history record (DHR) </h4>
<hr><br>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5> Input to database: </h5>
    <hr>
  <form method="POST" action="{{ url_for('form1190') }}" class="row g-1">
        {{ form.hidden_tag() }}
      <div class="row g-3">
      <div class="col-md-4">
        <p>
            {{ form.customerPO.label(class="form-label") }}<br>
            {{ form.customerPO(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4">
        <p>
            {{ form.internalMFR.label(class="form-label") }}<br>
            {{ form.internalMFR(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4">
        <p>
            {{ form.productREF.label(class="form-label") }}<br>
            {{ form.productREF(class="form-control") }}
        </p>
      </div>
      </div>
      <div class="row g-3">
      <div class="col-md-4">
        <p>
            {{ form.totalQTY.label(class="form-label") }}<br>
            {{ form.totalQTY(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4">
        <p>
            {{ form.manufacturingVER.label(class="form-label") }}<br>
            {{ form.manufacturingVER(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4">
        <p>

            {{ form.manufacturedBY.label(class="form-label") }}<br>
            {{ form.manufacturedBY(class="form-control") }}
        </p>
      </div>
      </div>
      <div class="row g-3">
      <div class="col-md-4">
        <p>

            {{ form.approvedBY.label(class="form-label") }}<br>
            {{ form.approvedBY(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4">
        <p>
            {{ form.manufactureDATE.label(class="form-label") }}<br>
            {{ form.manufactureDATE(class="form-control") }}

        </p>
      </div>
      <div class="col-md-4">
        <p>
            {{ form.LOTno.label(class="form-label") }}<br>
            {{ form.LOTno(class="form-control") }}
        </p>
      </div>
      </div>
      <div class="row g-2">
      <div class="col-md-8">
        <p>
            {{ form.comments.label(class="form-label") }}<br>
            {{ form.comments(class="form-control") }}
        </p>
      </div>
      <div class="col-md-4 text-center">
          <br>
          <p>
              {{ form.submit(class="btn btn-outline-primary btn-lg") }}
          </p>
      </div>
      </div>
  </form>
</div>



  <style>
      table {
        font-size:0.7em;
      };
      th {
        text-align: 'center';
      }
  </style>

    <div class="col text-center">
        <form action="/delete_record1190/{{ lastID }}" method="DELETE">
              <button type="submit"> Delete last record </button>
          </form>
    </div>
    <br>

<table class="table table-striped table-bordered table-sm">

    <thead>
    <tr>
        <th>ID</th><th>Customer PO</th><th>Internal MFR</th><th>Product ref.</th>
          <th>Batch QTY ordered</th><th>Manufacturing verification ref.</th>
          <th>Manufactured by</th><th>Approved by</th><th>Additional comments</th>
          <th>Date of manufacture</th><th>LOT number</th><th>Expiry date</th><th>GTIN</th><th>UDI</th>
    </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.customerPO }}</td>
                <td>{{ item.internalMFR }}</td>
                <td>{{ item.productREF }}</td>
                <td>{{ item.totalQTY }}</td>
                <td>{{ item.manufacturingVER }}</td>
                <td>{{ item.manufacturedBY }}</td>
                <td>{{ item.approvedBY }}</td>
                <td>{{ item.comments }}</td>
                <td>{{ item.manufactureDATE }}</td>
                <td>{{ item.LOTno }}</td>
                <td>{{ item.expiryDATE }}</td>
                <td>{{ item.GTIN }}</td>
                <td>{{ item.UDI }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</body>
{% endblock %}
</html>