<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<head>

</head>
<body>
<br>
<div class="container-sm" style="align:center">
<div class="row g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <div class="row">
          <div class="col md-9"><h5 class="card-title">ASM_834_1111</h5></div>
        </div>
        <hr>
        <p class="card-text">Anisys GO Protect Plus balloon sheath.</p>
        <a class="btn btn-outline-secondary mx-auto" href="/1111" role="button" style="text-align:center">Take me there</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated: {{ last1111|safe }}</small>
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="row g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ASM_834_1188</h5>
        <hr>
        <p class="card-text">Anisys GO Protect Plus balloon sheath kit.</p>
        <a class="btn btn-outline-secondary mx-auto" href="/1188" role="button" style="text-align:center">Take me there</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated: {{ last1188|safe }}</small>
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="row g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">ASM_834_1190</h5>
        <hr>
        <p class="card-text">Anisys GO Protect Plus balloon sheath kit pack 10. </p>
        <a class="btn btn-outline-secondary mx-auto" href="/1190" role="button" style="text-align:center">Take me there</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated: {{ last1190 }}</small>
      </div>
    </div>
  </div>
</div>
</div>
</body>
{% endblock %}
</html>